// @import "../partial/mixins";
// @import "../partial/variables";

html {
    font-size: 10px;
}

body {
    background:#1D2733;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.topics {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

    .topics__item {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        border: 1px solid #9BA8B8;
        border-radius: .4rem;
        color: #76879A;
        background:#3F4C5C;
        box-shadow: 0 0 1rem 0  #76879A;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 1rem 0 white;
            color: white;
        }
    }
    #topics__item--activ {
        box-shadow: 0 0 1rem 0 white;
        color: white;
    }
}

.questions__item {
    color: burlywood;
    font-size: 2rem;
}


