@import "../partial/_mixins";
@import "../partial/_variables";

html {
    font-size: 10px;
}

body {
    background:$backgroundColor;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.topics {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    .topics__item {
        @include buttonStyle;
        transition: all .3s ease-in-out;
        &:hover {
            @include hoverBoxShadow;
            color: $activElementColor;
        }
    }
    .topics__item--activ {
        @include hoverBoxShadow;
        color: $activElementColor;
    }
}

.questions__wrapper {
    padding: 2rem;
    border-top: 1px solid $textColor;
    .questions__title {
        font-size: 3rem; 
        color: $activElementColor;
    }
    .questions__list {
        margin-top: 4rem;
        .questions__item {
            width: max-content;
            margin-bottom: 2rem;
            padding: 1rem 3rem;
            border: 1px solid transparent;
            border-radius: .4rem;
            color: $activElementColor;
            line-height: 3rem;
            font-size: 2.2rem;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                @include hoverBoxShadow;
                border: 1px solid $activElementColor;
            }
        }
        .questions__item--correctAnswer {
            box-shadow : 0 0 1rem .5rem #46FF4F;
            pointer-events:none;
        }
        .questions__item--wrongAnswer {
            box-shadow : 0 0 1rem .5rem #FF0800;
            pointer-events:none;
        }
    }
    .questions__result {
        margin: 2rem 0;
        color: $textColor;
        font-size: 2rem;
    }
    .questions__buttons {
        display: flex;
        justify-content: space-around;
        padding: 4rem 0;
        border-top: 1px solid $textColor;
    }
    .questions__next-test,
    .questions__skip,
    .questions__end,
    .questions__index {
        @include buttonStyle;
        transition: all .3s ease-in-out;
        &:not(.questions__index):hover {
            @include hoverBoxShadow;
            color: $activElementColor;
        }
    }
    .questions__index {
        display: inline-block;
        width: max-content;
    }
}